.menu-dropdown {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  justify-content: stretch;
  &:after {
    width: 100%;
    content: ' ';
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
  }
  .close-btn {
    @include button;
    position: absolute;
    top: 0;
    background-color: white;
    margin: 15px;
    font-size: 24px;
    padding: 5px 9px;
    font-weight: 200;
    border-radius: 50%;
    right: 0;
  }
  nav {
    background-color: $navbar_bg_color;
    width: 100%;
    transform: scale(0.3);
    z-index: 20;
    margin: 25px;
    opacity: 0;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: transform .3s cubic-bezier(.8,-.4,.2,1.44) 0s,
                opacity .3s cubic-bezier(.8,-.4,.2,1.44) 0s;
    box-shadow: 0px 1px 20px 2px rgba($color: #555555, $alpha: 0.3);
    ul {
      padding-top: 40px;
      width: 100%;
      li {
        padding: 10px 5px;
        font-family: Roboto;
        font-size: 23px;
        a {
          display: inline-block;
          width: 100%;
        }
      }
      button {
        @include button;
        background-color: white;
        border: 2px solid transparent;
        &:hover {
          color: $font_color;
          border: 2px solid $font_color;
          background-color: $navbar_bg_color;
        }
      }
    }
  }
  nav.active {
    transform: scale(1);
    opacity: 1;
  }
}