nav.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $navbar_bg_color;
  box-shadow: 0px 1px 14px 2px rgba($color: #333, $alpha: 0.4);
  ul {
    display: none;
    justify-content: space-between;
    align-items: center;
  }
  button.menu-trigger {
    @include button;
    position: relative;
    height: 30px;
    background-color: transparent;
    width: 40px;
    .bar {
      border-radius: 2px;
      background: $font_color;
      position: absolute;
      cursor: pointer;
      display: block;
      height: 4px;
      width: $full;
      &:nth-child(2) {
        top: 4px;
      }
      &:nth-child(3) {
        top: 26px;
      }
    }
  }
  button.option {
    // animation-name: fly_down;
    // animation-iteration-count: infinite;
    // animation-duration: 500ms;
    // animation-timing-function: ease-in;
    transition: 500ms;
    background-color: $font_color;
    color: $navbar_bg_color;
    border: 2px solid transparent;
    border: none;
    border-radius: 20px;
    box-shadow:  0px 3px 15px 0px rgba($color: #555, $alpha: 0.5);
    &:hover {
      color: $font_color;
      border: 2px solid $font_color;
      background-color: $navbar_bg_color;
    }
  }
}
@media (max-width: 780px) {
  nav.navbar {
    flex-wrap: wrap;
    ul {
      width: 100%;
    }
  }
}

@media (min-width: 600px) {
  button.menu-trigger {
    display: none !important;
  }
  nav.navbar {
    ul {
      display: flex;
      li {
        display: inline-block;
        a {
          position: relative;
          font-weight: 300;
          &:after {
            bottom: 0;
            left: 0;
            @include gradient($color: $font_color, $value: "transparent, " + $font-color);
            @include hover_underline();
          }
          &:hover:after, &:active:after, &:focus:after {
            height: 7px;
          }
        }
      }
    }
  }
}