* {
  font-family: $basefont;
  outline: 0 !important;
  &:before,
  &:after {
    outline: 0 !important;
  }
}

.hide {
  visibility: hidden;
}

.remove {
  display: none !important;
}

.show {
  display: unset !important;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: $full;
  -ms-text-size-adjust: $full;
  font-size: 18px;
  height: $full;
  width: $full;
  clear: both;
  overflow: hidden;
  color: $font_color
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $basefont;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0em;
  width: $full;
  clear: both;
}

a,a:hover,a:active {
  color: unset;
  text-decoration: none;
}
@mixin button {
  display: inline-block;
  border-radius: 20px;
  border: none;
  margin: 20px 0;
}