
$widths: (
  1: '4px',
  2: '8px',
  3: '10px',
  4: '15px',
  5: '24px',
);

$sides: (
  r: 'right',
  l: 'left',
  t: 'top',
  b: 'bottom',
);

@each $size, $px in $widths {
  .p-#{$size} {
    padding: #{$px};
  }
  .m-#{$size} {
    margin: #{$px};
  }
  @each $abbr, $side in $sides {
    .p#{$abbr}-#{$size} {
      padding-#{$side}: #{$px};
    }
    .m#{$abbr}-#{$size} {
      margin-#{$side}: #{$px};
    }
  }
}

@mixin gradient(
  $color,
  $value
) {
  background: #{$color};
  background: -webkit-linear-gradient(#{$value});
  background: -o-linear-gradient(#{$value});
  background: -ms-linear-gradient(#{$value});
  background: -moz-linear-gradient(#{$value});
  background: linear-gradient(#{$value});
}
