
$basefont: Roboto, san-serif;
$off_white: #f9f9f9;
$white: #ffffff;
$black: #000000;
$font_color: #494949;
$navbar_bg_color: #83EDD9;
$full: 100%;

@mixin hover_underline {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 0px;
  transition: 400ms height;
}